.SectionTitle {
    background: linear-gradient(253.6deg, #98D0FC 2.46%, #3481D7 93.24%);

    & p {
        color: $colorWhite;
    }
}

.SectionTitle::after {
    background-image: url('/images/desktop/pez.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: $colorWhite;
}