$fontMarca: Gilroy;
$fontHelv: Helvetica;
$fontWeigth: bold;
$colorLogo: #316099;
$colorWhite: #FFF;
$colorPrimary: #1F3F68;
$colorSecondary: #356EAD;
$backLogo: #316099;
$saltoLinea: 26px;
$opacity: 0.5;
$share: 75px;